<% provide(:title, "Home") %>
  <div class="header-second">
      <li><a href="./posts/index.html">おすすめ</a></li>
      <li><a href="./posts/index.html">人気</a></li>
      <li><a href="./posts/index.html">最新</a></li>
    </div>
  </header>
  <div class="wrapper">
    <div class="start-btns">
      <div class="clear"></div>
    <div class="start-btn start-login">
      <a><%= link_to("ログイン","/login") %></a>
    </div>
    <div class="start-btn start-signup">
      <a><%= link_to("新規登録","/signup") %></a>
    </div>
    </div>
  </div>
